.about-contents{
    max-width: 1000px;
    margin: 64px auto 0 auto;
}

.about-title{
    text-align: center;
    padding: 12px 0;
}

.about-sub-title{
    padding: 12px 0 6px 0;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.about-goal-text{
    padding-top: 12px;
}

.about-text{
    padding-top: 12px;
}

.under-line{
    background: linear-gradient(transparent 60%, yellow 30%);
    display: inline-block;
}

.about-how-text{
    padding-top: 6px;
}

.about-how-title{
    padding-top: 12px;
}

.about-button{
    margin: 36px auto 0 auto;
    text-align: center;
}