.advisor-list{
    max-width: 1000px;
    margin: auto;
}

.advisor-card{
    max-width: 700px;
    margin: 24px auto;
}

.profile-img{
    height: 300px;
    width: 300px;
    background-size: cover;
    background-image: url("https://placehold.jp/300x300.png");
}

.advisor-profile{
    max-width: 350px;
    margin-left: 16px;
    overflow-wrap: break-word;
}