.header {
    height: 64px;
    width: 100%;
    max-width: 1120px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: calc((100% - 1120px) / 2);
    padding-right: calc((100% - 1120px) / 2);
    background-color: white;
    z-index: 1000;
}

.right-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}