.main-contents{
    max-width: 1000px;
    margin: 514px auto 0 auto;
}

.flex{
    display: flex;
}

.smartphone-img{
    width: 375px;
    height: 800px;
    margin-left: 40px;
    background-image: url("../../img/smartPhoneImg.png");
    background-size: cover;
}

.top-text{
    max-width: 615px;
    overflow-wrap: break-word;
    margin: 250px 40px 0 97px;
}

.top-p-text{
    font-size: 16px;
}

.main-text-button{
    margin: auto;
}

.how-to{
    margin-top: 50px;
}

.how-to-text{
    text-align: center;
}

.bottom-button{
    margin: 20px auto 10px auto;
    display: block;
}

.flex-text{
    margin: 0 10px;
    display: flex;
    justify-content:space-between
}

.each-text{
    text-align: center;
    max-width: 300px;
    margin: 0 25px;
}

.how-to-img{
    width: 1000px;
    height: 300px;
    background-image: url("../../img/how-to-img.png");
    background-size: cover;
}