.advisor-list{
    max-width: 1000px;
    margin: auto;
}

.advisor-card{
    max-width: 700px;
    margin: 24px auto 0 auto;
}

.profile-img{
    height: 300px;
    width: 300px;
    background-size: cover;
}

.advisor-profile{
    max-width: 350px;
    margin-left: 16px;
    overflow-wrap: break-word;
}

.more-button{
    text-align: right;
}