.main-contents-sp{
    margin-top: 64px;
}

.smartphone-img-sp{
    width: 375px;
    height: 800px;
    margin: 0px auto;
    background-image: url("../../img/smartPhoneImg.png");
    background-size: cover;
}

.top-text-sp{
    margin-top: 48px;
    text-align: center;
}

.main-text-button-sp{
    margin: auto;
}