.top-bar{
    position: absolute;
    top: 64px;
    width: 100%;
    height: 450px;
    background-image: url("../../img/topBar.jpg");
    background-position: center;
}

.button{
    position: absolute;
    top: 60%; 
    left: 50%;
    transform: translate(-190%, -50%);
}